*.cmd
*.o
*.su
*.tmp
*.builtin
*.order
out
uboot/u-boot*
kernel/.*
kernel/Module.symvers
kernel/System.map
kernel/_modules/lib/modules/4.14.249/kernel/
kernel/arch/arm/include/generated/
kernel/arch/arm/kernel/asm-offsets.s
kernel/arch/arm/lib/lib.a
kernel/arch/arm/vdso/vdso.so
kernel/arch/arm/vdso/vdso.so.dbg
kernel/crypto/arc4.ko
kernel/crypto/arc4.mod.c
kernel/crypto/ccm.ko
kernel/crypto/ccm.mod.c
kernel/crypto/cmac.ko
kernel/crypto/cmac.mod.c
kernel/crypto/ctr.ko
kernel/crypto/ctr.mod.c
kernel/crypto/ecb.ko
kernel/crypto/ecb.mod.c
kernel/crypto/echainiv.ko
kernel/crypto/echainiv.mod.c
kernel/crypto/gcm.ko
kernel/crypto/gcm.mod.c
kernel/crypto/gf128mul.ko
kernel/crypto/gf128mul.mod.c
kernel/crypto/ghash-generic.ko
kernel/crypto/ghash-generic.mod.c
kernel/crypto/michael_mic.ko
kernel/crypto/michael_mic.mod.c
kernel/crypto/seqiv.ko
kernel/crypto/seqiv.mod.c
kernel/drivers/i2c/i2c-mux.ko
kernel/drivers/i2c/i2c-mux.mod.c
kernel/drivers/input/evdev.ko
kernel/drivers/input/evdev.mod.c
kernel/drivers/input/input-core.ko
kernel/drivers/input/input-core.mod.c
kernel/drivers/mmc/core/mmc_block.ko
kernel/drivers/mmc/core/mmc_block.mod.c
kernel/drivers/mmc/core/mmc_core.ko
kernel/drivers/mmc/core/mmc_core.mod.c
kernel/drivers/mmc/host/dw_mmc-pltfm.ko
kernel/drivers/mmc/host/dw_mmc-pltfm.mod.c
kernel/drivers/mmc/host/dw_mmc.ko
kernel/drivers/mmc/host/dw_mmc.mod.c
kernel/fs/fat/fat.ko
kernel/fs/fat/fat.mod.c
kernel/fs/fat/vfat.ko
kernel/fs/fat/vfat.mod.c
kernel/fs/lockd/lockd.ko
kernel/fs/lockd/lockd.mod.c
kernel/fs/nfs/nfs.ko
kernel/fs/nfs/nfs.mod.c
kernel/fs/nfs/nfsv2.ko
kernel/fs/nfs/nfsv2.mod.c
kernel/fs/nfs/nfsv3.ko
kernel/fs/nfs/nfsv3.mod.c
kernel/fs/nfs_common/grace.ko
kernel/fs/nfs_common/grace.mod.c
kernel/fs/nls/nls_cp437.ko
kernel/fs/nls/nls_cp437.mod.c
kernel/fs/nls/nls_cp936.ko
kernel/fs/nls/nls_cp936.mod.c
kernel/fs/nls/nls_iso8859-1.ko
kernel/fs/nls/nls_iso8859-1.mod.c
kernel/include/config/
kernel/include/generated/
kernel/kernel/bounds.s
kernel/lib/crc-itu-t.ko
kernel/lib/crc-itu-t.mod.c
kernel/lib/lib.a
kernel/net/mac80211/mac80211.ko
kernel/net/mac80211/mac80211.mod.c
kernel/net/sunrpc/sunrpc.ko
kernel/net/sunrpc/sunrpc.mod.c
kernel/net/wireless/cfg80211.ko
kernel/net/wireless/cfg80211.mod.c
kernel/scripts/mod/devicetable-offsets.s
kernel/vmlinux
prebuilts/host/
uboot/.config
uboot/.config.old
uboot/System.map
uboot/arch/arm/dts/ts-tx5215dv300-evb132.dtb
uboot/arch/arm/lib/asm-offsets.s
uboot/arch/arm/lib/lib.a
uboot/dts/dt.dtb
uboot/dts/dt.dtb.S
uboot/include/config/
uboot/include/generated/
uboot/lib/asm-offsets.s
uboot/scripts/dtc/dtc-lexer.lex.c
uboot/scripts/dtc/dtc-parser.tab.c
uboot/scripts/dtc/dtc-parser.tab.h
uboot/scripts/kconfig/zconf.lex.c
uboot/scripts/kconfig/zconf.tab.c
apps/sample/temp/
libs/isp/lib/uclibc/tunning/build/temp/
libs/drv/module/uclibc/gc9108.ko
kernel/_modules/lib/modules/4.14.249/build
kernel/_modules/lib/modules/4.14.249/source
libs/drv/module/uclibc/gc9108.ko
kernel/arch/arm/boot/dts/tsingmicro/ts-tx5215dv300-v2p0-aio-spinand.dtb
kernel/drivers/misc/eeprom/at24.ko
kernel/drivers/misc/eeprom/at24.mod.c
kernel/drivers/pwm/pwm-ts.ko
kernel/drivers/pwm/pwm-ts.mod.c
uboot/arch/arm/dts/ts-tx5215dv300-v2p0-aio-spinand.dtb
