// SPDX-License-Identifier: GPL-2.0+
/*
 * dts file for tsingmicro tx52xx
 *
 * Copyright 2022 Beijing Tsingmicro Intelligent Technology Co.,Ltd.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

#include "ts-tx5215.dtsi"
#include "ts-tx5215-clk.dtsi"
#include "ts-tx5215-reset.dtsi"
#include "ts-tx52xx-evb132-pinctrl.dtsi"

/ {
	chosen {
		/*bootargs = "console=ttyS0,115200n8 initrd=0xc4000000,4M init=/linuxrc
		 * root=/dev/ram0 rw rootfstype=ext4 rootwait ignore_loglevel earlycon";
		 */
		bootargs = "console=ttyS0,115200n8 earlycon";
		/*bootargs = "console=ttyS0,115200n8 ignore_loglevel";
		 *bootargs = "root=/dev/ram0 rw ramdisk=8192 initrd=0x41000000,8M
		 *console=ttyS0,115200n8 init=/linuxrc";
		 */
		stdout-path = "serial0:115200";
	};

	sound {
		status = "disabled";
		compatible = "ts-es8388,tx5215";
		model = "ts-audio-es8388";
		i2s-controller = <&i2s>;
		audio-codec = <&codec>;
	};

};

&uart0 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	// pinctrl-0 = <&uart1_pinctrl>;
	status = "disabled";
};

&uart2 {
	pinctrl-names = "default";
	// pinctrl-0 = <&uart2_pinctrl_0>;
	status = "disabled";
};

&gpio0 {
	pinctrl-names = "default";
	// pinctrl-0 = <&gpioa25_pinctrl>;
	status = "okay";
};

&gpio1 {
	pinctrl-names = "default";
	// pinctrl-0 = <&gpiob11_pinctrl>;
	status = "okay";
};

&usart0 {
	status = "disabled";
};

&usart1 {
	status = "disabled";
	pinctrl-names = "default";
	// pinctrl-0 = <&usi1_pinctrl_1>;
};

&rne_dma {
	status = "okay";
};

/*
 *&smmu {
 *	status = "disable";
 *};
 */

&uspi0 {
	status = "disabled";
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	pinctrl-names = "default";
	pinctrl-0 = <&usi0_pinctrl &gpioa9_pinctrl>;
	uspics-gpios = <&porta 9 GPIO_ACTIVE_HIGH>;
	uspi0_flash0:w25q64@00 {
		status = "okay";
		compatible = "winbond,w25q64","jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <1000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@usi2spi-test0{
			label = "test0";
			reg = <0x0 0x800000>; /* 8MB */
		};

	};
};

&gmac0 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rmii";
	pinctrl-names = "default";
	pinctrl-0 = <&mac0_pinctrl0>, <&mac0_pinctrl1>, <&mac0_rst_pinctrl>;
	phy-reset-gpios = <&porta 22 GPIO_ACTIVE_LOW>;
	mdio {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		phy0: phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			device_type = "ethernet-phy";
			reg = <0x3>;
		};
	};
};
&gmac1 {
	status = "disabled";
	phy-handle = <&phy1>;
	phy-mode = "rmii";
	pinctrl-names = "default";
	pinctrl-0 = <&mac1_pinctrl0>, <&mac1_pinctrl1>, <&mac1_pinctrl2>, <&mac1_pinctrl3>, <&mac1_rst_pinctrl>;
	phy-reset-gpios = <&portb 5 GPIO_ACTIVE_LOW>;
	mdio {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		phy1: phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			device_type = "ethernet-phy";
			reg = <0x3>;
		};
	};
};

&i2c0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pinctrl_0>;
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pinctrl_0>;

	cam0: imgsensor0@20 {
		compatible = "image,sensor0";
		reg = <0x20>;

		pinctrl-names = "default", "default";
		pinctrl-0 = <&gpioa27_pinctrl>;
		pinctrl-1 = <&chip_out0_pinctrl>;
		rst-gpios = <&porta 27 GPIO_ACTIVE_HIGH>;

		clocks = <&ts_clk TS_CLK_TX5215_CHIP_OCLK_I0>;
		clock-names = "mclk";
		assigned-clocks = <&ts_clk TS_CLK_TX5215_CHIP_OCLK_I0>;
		assigned-clock-rates = <24000000>;
	};
};

&ui2c0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&usi0_pinctrl_2 &usi0_pinctrl>;
	eeprom: eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
		pagesize = <32>;
	};
};

&ui2c1 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pinctrl_1>;

	codec: es8388@11 {
		compatible = "everest,es8388";
		clocks = <&misc_clk>;
		reg = <0x11>;
	};

	cam1: imgsensor1@20 {
		compatible = "image,sensor1";
		reg = <0x20>;

		pinctrl-names = "default";
		pinctrl-0 = <&gpioa28_pinctrl>;
		rst-gpios = <&porta 28 GPIO_ACTIVE_HIGH>;

		clocks = <&ts_clk TS_CLK_TX5215_CHIP_OCLK_I0>;
		clock-names = "mclk";
	};
};

&dp0 {
	status = "okay";
	port {
		dp0_output: endpoint {
			remote-endpoint = <&hdmi_virt_input>;
		};
	};
};

&hdmi_virt {
	status = "okay";
	ports {
		port {
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi_virt_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dp0_output>;
			};
		};
	};
};

&cve {
	status = "okay";
};

&can0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pinctrl_0 &can0_pinctrl_1>;
};

&can1 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&can1_pinctrl_0 &can1_pinctrl_1>;
};

&amr {
	status = "okay";
};

&vpu_h265 {
	status = "okay";
};

&hx280enc {
	status = "okay";
};

&qspi {
	status = "okay";
	page-size = <256>;
	block-size = <16>;
	#address-cells = <1>;
	#size-cells = <0>;

#if 0
	nand1:spi-nand@0 {
		status = "okay";
		compatible = "spi-nand";
		reg = <0>; /* CS0 */
		//spi-max-frequency = <40000000>;
		spi-max-frequency = <20000000>;
		page-size = <2048>;
		block-size = <131072>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		cdns,read-delay = <0>;
		cdns,tshsl-ns = <0>;
		cdns,tsd2d-ns = <0>;
		cdns,tchsh-ns = <0>;
		cdns,tslch-ns = <0>;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			/* reserved for future boot direct from NAND flash
			 * (this would use the same layout as the 8MiB NOR flash)
			 */
			partition@0 {
				label = "nand-boot-reserved";
				reg = <0 0x800000>;
			};

			/* recovery / install environment */
			partition@800000 {
				label = "recovery";
				reg = <0x800000 0x2000000>;
			};

			/* ubia (first OpenWrt) - a/b names to prevent confusion with ubi0/1/etc. */
			partition@2800000 {
				label = "ubia";
				reg = <0x2800000 0x3C00000>;
			};
#if 0
			/* ubib (second OpenWrt) */
			partition@6400000 {
				label = "ubib";
				reg = <0x6400000 0x3C00000>;
			};
#endif
		};
	};

#else

	flash0: giga0@0 {
		reg = <0>; /* CS0 */
		cdns,read-delay = <2>;
		cdns,tshsl-ns = <40>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <3>;
		cdns,tslch-ns = <4>;
		spi-max-frequency = <51200000>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
#endif
};

&sdhci0 {
	/* qspi and sdhci0 cannot coexist */
	/*status = "okay";*/
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&emmc0_pinctrl>;
};

&sdhci1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mshc1_pinctrl &emmc1_pinctrl &sd_pwr_pinctrl>;
	card-detect-delay = <200>;
	sdpwr-gpios = <&portb 9 GPIO_ACTIVE_LOW>;
};

&spi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pinctrl &spi_lcd_rs_pinctrl &spi_lcd_rst_pinctrl  &spi_lcd_bk_pinctrl>;
	spi0_lcd: gc9108@0 {
		compatible = "gc9108,spi-lcd";
		spi-max-frequency = <4000000>;
		rst-gpios = <&portb 24 GPIO_ACTIVE_HIGH>;
		rs-gpios = <&portb 23 GPIO_ACTIVE_HIGH>;
		bk-gpios = <&portb 22 GPIO_ACTIVE_HIGH>;

		//#address-cells = <1>;
		//#size-cells = <1>;
		reg = <0>;
	};
};

&watchdog0 {
	status = "okay";
};

&pwm {
	status = "okay";
};

&rtc {
	status = "okay";
};

&osr_hash {
	status = "okay";
};

&osr_ske {
	status = "okay";
};

&osr_pke {
	status = "okay";
};

&pinctrl {
	status = "okay";
	// init-function = "init";
};

&hwacc {
	status = "okay";
};

&dwahbdma0 {
	status = "okay";
};

&dwahbdma1 {
	status = "okay";
};

&dw_axi_dmac {
	status = "okay";
};


&pdmic {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pdmic_pinctrl_0>;
	ts,model = "PDMIC @ tsm-tx5215-fpga";
	ts,mic-min-freq = <1024000>;
	ts,mic-max-freq = <3072000>;
	ts,mic-offset = <0x0>;
	dmas = <&dwahbdma1 0x6 1 0>;
	dma-names = "rx";
};

&ts_codec {
	status = "okay";
	ts,model = "ts-codec";
	pinctrl-names = "default";
	dmas = <&dwahbdma1 0xe 1 1 &dwahbdma1 0xd 1 0>;
	dma-names = "tx","rx";
};

&sys {
	status = "okay";
};

&mpp {
	status = "okay";
};

&mpp_proc {
	status = "okay";
};

&vpe {
	status = "okay";
};

&usb0 {
	status = "okay";
	//pinctrl-names = "default";
	//pinctrl-0 = <&usb_pinctrl>;
	//drvvbus-gpios  = <&portb 11 GPIO_ACTIVE_HIGH>;
};

&ocotp {
	status = "okay";
};

&adc {
	status = "okay";
};

&i2s {
	status = "disabled";
	dmas = <&dwahbdma1 0x5 2 1 &dwahbdma1 0x4 1 0>;
	dma-names = "tx","rx";
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_pinctrl>;
};
