# 固件名字，存储在升级固件中
#
firmware name = VP_FLASH

# 固件版本存储为32位无符号整数。
# 文本格式为aaa.xxx.yyy
# 最高位字节当前没有使用，aaa,xxx,yyy分别是低3个字节的10进制表示
#
software version = 22.112.109

# 硬件版本存储为32位无符号整数
# 高16位为model id
# 低16位为硬件兼容版本，同软件版本一样，表示为xxx.yyy
# 硬件版本的格式表示为：modelid.xxx.yyy (其中modelid为16进制，xxx, yyy为10进制，前导0全部省略）
# 比如：A0.1.123
#
compatible hardware version = 1.0.0

# 升级策略，当前只有一个值，按分区升级
upgrade policy = partition

# 用于指导生成flash的固件，和校验分区参数是否正确
# 支持后缀K和M，K表示1024字节，M表示1024K
#
flash size = 128M
erase size = 128K
block size = 128K
page size = 2048
spare size = 64

# 分区信息
# [partition n] n表示分区编号
# name，分区名字，升级时，使用name来匹配要升级的分区，因此必须和内核的mtd分区名匹配，
#		这也意味着出厂后，name就不能随意更改了。
# type, 分区类型
# offset，分区在flash中的偏移，指导打包flash烧录固件时，bin存放的位置，如果省略，则改分区紧跟上一个分区。
# size, 分区的大小
# upgrade，分区是否升级。
#		no，不升级，升级固件不包括改分区，但是flash固件会包括。
#		always，总是升级
#		check，检查变化了才会升级。
# bin，分区image


[partition 0]
name 		= boot
type 		= other
offset		= 0
size 		= 1024K
upgrade 	= no
bin		= uboot.bin

[partition 1]
name 		= kernel
type 		= kernel
size 		= 5120K
upgrade 	= no
bin		= kernel

[partition 2]
name 		= rootfs
type 		= other
size 		= 20480K
upgrade 	= no
bin 		= rootfs.ubi

[partition 3]
name 		= system
type 		= other
size 		= 20480K
upgrade 	= always
bin         	= system.ubi
format      	= ubifs
dir         	= system
create		= yes

[partition 4]
name 		= www
type 		= other
size 		= 6144K
upgrade 	= no
format      	= ubifs
bin         	= www.ubi

[partition 5]
name 		= config
type 		= other
size 		= 2048K
upgrade 	= no

[partition 6]
name 		= model
type 		= other
size 		= 73728K
upgrade 	= no
format      	= ubifs
bin         	= model.ubi
